/* Tweak category badges */
.category-list,
.category-links,
.category-drop,
.title-wrapper,
.topic-list,
.latest-topic-list,
.suggested-topics-message {
    .badge-wrapper {

        /* Adjust border radius */
        @if $border-radius != '' {

            /* Override css attribute */
            border-radius: $border-radius !important;

            /* Clear attribute from all child elements */
            > span {
                border-radius: inherit !important;
            }
        }

        /* Don't shrink badges on e.g. /latest */
        @if $transform-enabled != 'true' {
            transform: unset !important;
        }

    }
}
